name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install .
          pip install pytest coverage pytest-cov pytest-mock

      - name: Run Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest --cov=src/fyodoros -q

      - name: Generate Coverage
        run: coverage xml
